services:
  spring-ai-demo:
    image: spring-ai-demo:latest
    build:
      context: .
      args:
        DOCKER_BUILDKIT: 1
    restart: "no"
    ports:
      - "8080:8080"
    env_file: secret.env